# Xcode
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.xcscmblueprint

# Xcode user state
*.xcuserstate
project.xcworkspace/xcuserdata/
project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
!Podfile
!Podfile.lock

# Carthage
Carthage/Build/

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archivos temporales / backups
*.backup
*.bak
*.tar.gz
*.zip

# Entornos / secretos
*.env
.env
